# Finding the Distance between High Schools in Essex County, MA

As the crow flies— finding distances between gps coordinates for two locations

In [16]:
# reference: https://stackoverflow.com/questions/64882089/how-to-use-python-to-calculate-the-distance-between-lat-long-points-from-importe

Imports + Reading in file of gps coordinates for each location (lon1, lat1) and (lat2, lon2)

In [17]:
import pandas as pd
import numpy as np

In [18]:
input_file = "Essex_county_public_hs_locations_gps_lat_lon2.csv"
output_file = "output_school_distances.csv"

In [19]:
df = pd.read_csv(input_file)                       
df[:] = df[:].apply(pd.to_numeric, errors='coerce')

In [20]:
df

           lat1       lon1       lat2       lon2  Unnamed: 4  Unnamed: 5
0     42.851062 -70.942437  42.657187 -71.155438         NaN         NaN
1     42.851062 -70.942437  42.564813 -70.881187         NaN         NaN
2     42.851062 -70.942437  42.624813 -70.975813         NaN         NaN
3     42.851062 -70.942437  42.582062 -70.931438         NaN         NaN
4     42.851062 -70.942437  42.582062 -70.766188         NaN         NaN
...         ...        ...        ...        ...         ...         ...
1117        NaN        NaN        NaN        NaN         NaN         NaN
1118        NaN        NaN        NaN        NaN         NaN         NaN
1119        NaN        NaN        NaN        NaN         NaN         NaN
1120        NaN        NaN        NaN        NaN         NaN         NaN
1121        NaN        NaN        NaN        NaN         NaN         NaN

[1122 rows x 6 columns]

Cleaning up the dataframe

In [21]:
del df['Unnamed: 4']

In [22]:
del df['Unnamed: 5']

In [23]:
df = df.drop(labels=range(1088, 1121), axis=0)

In [24]:
df = df.drop(labels=[1121], axis=0)

In [25]:
df.tail()

           lat1       lon1       lat2       lon2
1083  42.782938 -71.013188  42.744187 -70.916438
1084  42.782938 -71.013188  42.460813 -71.022437
1085  42.782938 -71.013188  42.479062 -70.920438
1086  42.782938 -71.013188  42.624813 -70.975813
1087  42.782938 -71.013188  42.628687 -70.847813

## Calculating the distances using the Haversine formula

In [26]:
def dist_from_coordinates(lat1, lon1, lat2, lon2):
  R = 6371  # Earth radius in km

#conversion to radians
  d_lat = np.radians(lat2-lat1)
  d_lon = np.radians(lon2-lon1)

  r_lat1 = np.radians(lat1)
  r_lat2 = np.radians(lat2)

  #haversine formula
  a = np.sin(d_lat/2.) **2 + np.cos(r_lat1) * np.cos(r_lat2) * np.sin(d_lon/2.)**2

  haversine = 2 * R * np.arcsin(np.sqrt(a))

  return haversine

In [27]:
#empty column for distance
new_column = []                    
for index,row in df.iterrows():
  lat1 = row['lat1'] #first row of location.lat column here
  lon1 = row['lon1'] #first row of location.long column here
  lat2 = row['lat2'] #second row of location.lat column here
  lon2 = row['lon2'] #second row of location.long column here
  value = dist_from_coordinates(lat1, lon1, lat2, lon2)  #get the distance
  new_column.append(value)   #append the empty list with distance values

In [28]:
df.insert(4,"Distance",new_column)  #4 is the index where you want to place your column. Column index starts with 0. "Distance" is the header and new_column are the values in the column.

In [29]:
#creates the output.csv
with open(output_file,'w') as f:
  df.to_csv(f,index = False)

In [30]:
# I manually added columns, loc1 and loc2, keys to matching with towns back in

In [31]:
df = pd.read_csv("input_school_distances_loc.csv", encoding="utf-8")
df

      loc1       lat1       lon1  loc2       lat2       lon2   distance
0        1  42.851062 -70.942437     2  42.657187 -71.155438  27.698185
1        1  42.851062 -70.942437     3  42.564813 -70.881187  32.220478
2        1  42.851062 -70.942437     4  42.624813 -70.975813  25.304975
3        1  42.851062 -70.942437     5  42.582062 -70.931438  29.924930
4        1  42.851062 -70.942437     6  42.582062 -70.766188  33.196747
...    ...        ...        ...   ...        ...        ...        ...
1083    34  42.782938 -71.013188    29  42.744187 -70.916438   8.997121
1084    34  42.782938 -71.013188    30  42.460813 -71.022437  35.826659
1085    34  42.782938 -71.013188    31  42.479062 -70.920438  34.630954
1086    34  42.782938 -71.013188    32  42.624813 -70.975813  17.845965
1087    34  42.782938 -71.013188    33  42.628687 -70.847813  21.835493

[1088 rows x 7 columns]

## Merging dataset with key of town names for each school location

In [17]:
# Note: towns of Essex, Nahant, Wenham, West Newbury were replaced with a regional school town name for later purposes

In [18]:
df2 = pd.read_csv("Essex_county_public_hs_locations__loc1.csv", encoding="utf-8")
df2

    loc1        towns_1
0      1       Amesbury
1      2        Andover
2      3        Beverly
3      4        Boxford
4      5        Danvers
5      6     Manchester
6      7     Georgetown
7      8     Gloucester
8      9      Groveland
9     10       Hamilton
10    11      Haverhill
11    12        Ipswich
12    13       Lawrence
13    14           Lynn
14    15      Lynnfield
15    16     Manchester
16    17     Marblehead
17    18       Merrimac
18    19        Methuen
19    20      Middleton
20    21     Swampscott
21    22        Newbury
22    23    Newburyport
23    24  North Andover
24    25        Peabody
25    26       Rockport
26    27         Rowley
27    28          Salem
28    29      Salisbury
29    30         Saugus
30    31     Swampscott
31    32      Topsfield
32    33       Hamilton
33    34      Groveland

In [19]:
df = pd.merge(df, df2, on='loc1', how='outer')
df

,loc1,lat1,lon1,loc2,lat2,lon2,distance,towns_1
0,1,42.851062,-70.942437,2,42.657187,-71.155438,27.698185,Amesbury
1,1,42.851062,-70.942437,3,42.564813,-70.881187,32.220478,Amesbury
2,1,42.851062,-70.942437,4,42.624813,-70.975813,25.304975,Amesbury
3,1,42.851062,-70.942437,5,42.582062,-70.931438,29.924930,Amesbury
4,1,42.851062,-70.942437,6,42.582062,-70.766188,33.196747,Amesbury
...,...,...,...,...,...,...,...,...
1083,34,42.782938,-71.013188,29,42.744187,-70.916438,8.997121,Groveland
1084,34,42.782938,-71.013188,30,42.460813,-71.022437,35.826659,Groveland
1085,34,42.782938,-71.013188,31,42.479062,-70.920438,34.630954,Groveland
1086,34,42.782938,-71.013188,32,42.624813,-70.975813,17.845965,Groveland
1087,34,42.782938,-71.013188,33,42.628687,-70.847813,21.835493,Groveland

In [20]:
df3 = pd.read_csv("Essex_county_public_hs_locations__loc2.csv", encoding="utf-8")
df3

    loc2        towns_2
0      1       Amesbury
1      2        Andover
2      3        Beverly
3      4        Boxford
4      5        Danvers
5      6     Manchester
6      7     Georgetown
7      8     Gloucester
8      9      Groveland
9     10       Hamilton
10    11      Haverhill
11    12        Ipswich
12    13       Lawrence
13    14           Lynn
14    15      Lynnfield
15    16     Manchester
16    17     Marblehead
17    18       Merrimac
18    19        Methuen
19    20      Middleton
20    21     Swampscott
21    22        Newbury
22    23    Newburyport
23    24  North Andover
24    25        Peabody
25    26       Rockport
26    27         Rowley
27    28          Salem
28    29      Salisbury
29    30         Saugus
30    31     Swampscott
31    32      Topsfield
32    33       Hamilton
33    34      Groveland

In [21]:
df = pd.merge(df, df3, on='loc2', how='outer')
df

,loc1,lat1,lon1,loc2,lat2,lon2,distance,towns_1,towns_2
0,1,42.851062,-70.942437,2,42.657187,-71.155438,27.698185,Amesbury,Andover
1,3,42.564813,-70.881187,2,42.657187,-71.155438,24.682309,Beverly,Andover
2,4,42.624813,-70.975813,2,42.657187,-71.155438,15.127238,Boxford,Andover
3,5,42.582062,-70.931438,2,42.657187,-71.155438,20.142530,Danvers,Andover
4,6,42.582062,-70.766188,2,42.657187,-71.155438,32.927387,Manchester,Andover
...,...,...,...,...,...,...,...,...,...
1083,30,42.460813,-71.022437,1,42.851062,-70.942437,43.884086,Saugus,Amesbury
1084,31,42.479062,-70.920438,1,42.851062,-70.942437,41.403603,Swampscott,Amesbury
1085,32,42.624813,-70.975813,1,42.851062,-70.942437,25.304975,Topsfield,Amesbury
1086,33,42.628687,-70.847813,1,42.851062,-70.942437,25.906341,Hamilton,Amesbury
1087,34,42.782938,-71.013188,1,42.851062,-70.942437,9.522770,Groveland,Amesbury

In [22]:
df.sort_values(by = 'loc1', ascending=True).head(10)

,loc1,lat1,lon1,loc2,lat2,lon2,distance,towns_1,towns_2
0,1,42.851062,-70.942437,2,42.657187,-71.155438,27.698185,Amesbury,Andover
608,1,42.851062,-70.942437,22,42.744187,-70.916438,12.071794,Amesbury,Newbury
576,1,42.851062,-70.942437,21,42.479062,-70.920438,41.403603,Amesbury,Swampscott
544,1,42.851062,-70.942437,20,42.624813,-70.975813,25.304975,Amesbury,Middleton
32,1,42.851062,-70.942437,3,42.564813,-70.881187,32.220478,Amesbury,Beverly
512,1,42.851062,-70.942437,19,42.733063,-71.171563,22.840789,Amesbury,Methuen
480,1,42.851062,-70.942437,18,42.782938,-71.013188,9.522770,Amesbury,Merrimac
448,1,42.851062,-70.942437,17,42.492438,-70.869187,40.324333,Amesbury,Marblehead
416,1,42.851062,-70.942437,16,42.582062,-70.766188,33.196747,Amesbury,Manchester
640,1,42.851062,-70.942437,23,42.813187,-70.886188,6.227004,Amesbury,Newburyport

In [23]:
df = df.sort_values(by = 'distance', ascending=True)

Creating a column with converted km to miles

In [24]:
df['distance_mi'] = df['distance'] * (0.62137119)

Creating a column with name of two locations

In [25]:
df['school_to_school'] = df['towns_1'] + '-'+ df['towns_2']

In [26]:
df

,loc1,lat1,lon1,loc2,lat2,lon2,distance,towns_1,towns_2,distance_mi,school_to_school
82,20,42.624813,-70.975813,4,42.624813,-70.975813,0.000000,Middleton,Boxford,0.000000,Middleton-Boxford
421,6,42.582062,-70.766188,16,42.582062,-70.766188,0.000000,Manchester,Manchester,0.000000,Manchester-Manchester
947,20,42.624813,-70.975813,32,42.624813,-70.975813,0.000000,Middleton,Topsfield,0.000000,Middleton-Topsfield
254,33,42.628687,-70.847813,10,42.628687,-70.847813,0.000000,Hamilton,Hamilton,0.000000,Hamilton-Hamilton
142,16,42.582062,-70.766188,6,42.582062,-70.766188,0.000000,Manchester,Manchester,0.000000,Manchester-Manchester
...,...,...,...,...,...,...,...,...,...,...,...
748,13,42.691187,-71.145062,26,42.652187,-70.609562,43.994531,Lawrence,Rockport,27.336934,Lawrence-Rockport
343,26,42.652187,-70.609562,13,42.691187,-71.145062,43.994531,Rockport,Lawrence,27.336934,Rockport-Lawrence
24,26,42.652187,-70.609562,2,42.657187,-71.155438,44.644243,Rockport,Andover,27.740646,Rockport-Andover
737,2,42.657187,-71.155438,26,42.652187,-70.609562,44.644243,Andover,Rockport,27.740646,Andover-Rockport
535,26,42.652187,-70.609562,19,42.733063,-71.171563,46.803489,Rockport,Methuen,29.082340,Rockport-Methuen

In [27]:
df = df[["school_to_school", "distance", "distance_mi", "towns_1", "towns_2", "loc1", "lat1", "lon1", "loc2", "lat2", "lon2"]]

In [28]:
df.head(3)

,school_to_school,distance,distance_mi,towns_1,towns_2,loc1,lat1,lon1,loc2,lat2,lon2
82,Middleton-Boxford,0.0,0.0,Middleton,Boxford,20,42.624813,-70.975813,4,42.624813,-70.975813
421,Manchester-Manchester,0.0,0.0,Manchester,Manchester,6,42.582062,-70.766188,16,42.582062,-70.766188
947,Middleton-Topsfield,0.0,0.0,Middleton,Topsfield,20,42.624813,-70.975813,32,42.624813,-70.975813

In [29]:
df.shape

(1088, 11)

In [30]:
# df.to_csv('output_school_distances_loc_w_towns.csv', index = False)

Removing rows with the distance of 0 (regional schools / multiple towns attending the same school location)

In [31]:
# df.sort_values(by = 'distance', ascending=True).head(50)
df = df[df['distance'] != 0].sort_values('distance', ascending=True)

In [32]:
df

,school_to_school,distance,distance_mi,towns_1,towns_2,loc1,lat1,lon1,loc2,lat2,lon2
380,Swampscott-Lynn,1.924864,1.196055,Swampscott,Lynn,31,42.479062,-70.920438,14,42.476687,-70.943687
370,Swampscott-Lynn,1.924864,1.196055,Swampscott,Lynn,21,42.479062,-70.920438,14,42.476687,-70.943687
909,Lynn-Swampscott,1.924864,1.196055,Lynn,Swampscott,14,42.476687,-70.943687,31,42.479062,-70.920438
684,Lawrence-North Andover,2.551754,1.585587,Lawrence,North Andover,13,42.691187,-71.145062,24,42.700563,-71.116563
341,North Andover-Lawrence,2.551754,1.585587,North Andover,Lawrence,24,42.700563,-71.116563,13,42.691187,-71.145062
...,...,...,...,...,...,...,...,...,...,...,...
748,Lawrence-Rockport,43.994531,27.336934,Lawrence,Rockport,13,42.691187,-71.145062,26,42.652187,-70.609562
343,Rockport-Lawrence,43.994531,27.336934,Rockport,Lawrence,26,42.652187,-70.609562,13,42.691187,-71.145062
737,Andover-Rockport,44.644243,27.740646,Andover,Rockport,2,42.657187,-71.155438,26,42.652187,-70.609562
24,Rockport-Andover,44.644243,27.740646,Rockport,Andover,26,42.652187,-70.609562,2,42.657187,-71.155438
535,Rockport-Methuen,46.803489,29.082340,Rockport,Methuen,26,42.652187,-70.609562,19,42.733063,-71.171563

In [33]:
df.head(10)

,school_to_school,distance,distance_mi,towns_1,towns_2,loc1,lat1,lon1,loc2,lat2,lon2
380,Swampscott-Lynn,1.924864,1.196055,Swampscott,Lynn,31,42.479062,-70.920438,14,42.476687,-70.943687
370,Swampscott-Lynn,1.924864,1.196055,Swampscott,Lynn,21,42.479062,-70.920438,14,42.476687,-70.943687
909,Lynn-Swampscott,1.924864,1.196055,Lynn,Swampscott,14,42.476687,-70.943687,31,42.479062,-70.920438
684,Lawrence-North Andover,2.551754,1.585587,Lawrence,North Andover,13,42.691187,-71.145062,24,42.700563,-71.116563
341,North Andover-Lawrence,2.551754,1.585587,North Andover,Lawrence,24,42.700563,-71.116563,13,42.691187,-71.145062
601,Salem-Swampscott,3.116212,1.936325,Salem,Swampscott,28,42.506312,-70.911563,21,42.479062,-70.920438
828,Swampscott-Salem,3.116212,1.936325,Swampscott,Salem,31,42.479062,-70.920438,28,42.506312,-70.911563
922,Salem-Swampscott,3.116212,1.936325,Salem,Swampscott,28,42.506312,-70.911563,31,42.479062,-70.920438
816,Marblehead-Salem,3.801214,2.361965,Marblehead,Salem,17,42.492438,-70.869187,28,42.506312,-70.911563
473,Salem-Marblehead,3.801214,2.361965,Salem,Marblehead,28,42.506312,-70.911563,17,42.492438,-70.869187

In [34]:
df.shape

(1065, 11)

Removing repeat distances (For ex: Swampscott and Nahant residents both go to the same school, Swampscott HS, so it's the same distance to Lynn HS

In [35]:
df = df.drop_duplicates(subset=["distance"], keep='first')
df.shape

(300, 11)

In [36]:
df

,school_to_school,distance,distance_mi,towns_1,towns_2,loc1,lat1,lon1,loc2,lat2,lon2
380,Swampscott-Lynn,1.924864,1.196055,Swampscott,Lynn,31,42.479062,-70.920438,14,42.476687,-70.943687
684,Lawrence-North Andover,2.551754,1.585587,Lawrence,North Andover,13,42.691187,-71.145062,24,42.700563,-71.116563
601,Salem-Swampscott,3.116212,1.936325,Salem,Swampscott,28,42.506312,-70.911563,21,42.479062,-70.920438
816,Marblehead-Salem,3.801214,2.361965,Marblehead,Salem,17,42.492438,-70.869187,28,42.506312,-70.911563
321,Andover-Lawrence,3.874623,2.407579,Andover,Lawrence,2,42.657187,-71.155438,13,42.691187,-71.145062
...,...,...,...,...,...,...,...,...,...,...,...
279,Rockport-Haverhill,43.316282,26.915490,Rockport,Haverhill,26,42.652187,-70.609562,11,42.787188,-71.106938
1083,Saugus-Amesbury,43.884086,27.268307,Saugus,Amesbury,30,42.460813,-71.022437,1,42.851062,-70.942437
748,Lawrence-Rockport,43.994531,27.336934,Lawrence,Rockport,13,42.691187,-71.145062,26,42.652187,-70.609562
737,Andover-Rockport,44.644243,27.740646,Andover,Rockport,2,42.657187,-71.155438,26,42.652187,-70.609562
535,Rockport-Methuen,46.803489,29.082340,Rockport,Methuen,26,42.652187,-70.609562,19,42.733063,-71.171563

In [37]:
df.head(50)

,school_to_school,distance,distance_mi,towns_1,towns_2,loc1,lat1,lon1,loc2,lat2,lon2
380,Swampscott-Lynn,1.924864,1.196055,Swampscott,Lynn,31,42.479062,-70.920438,14,42.476687,-70.943687
684,Lawrence-North Andover,2.551754,1.585587,Lawrence,North Andover,13,42.691187,-71.145062,24,42.700563,-71.116563
601,Salem-Swampscott,3.116212,1.936325,Salem,Swampscott,28,42.506312,-70.911563,21,42.479062,-70.920438
816,Marblehead-Salem,3.801214,2.361965,Marblehead,Salem,17,42.492438,-70.869187,28,42.506312,-70.911563
321,Andover-Lawrence,3.874623,2.407579,Andover,Lawrence,2,42.657187,-71.155438,13,42.691187,-71.145062
377,Salem-Lynn,4.217703,2.620759,Salem,Lynn,28,42.506312,-70.911563,14,42.476687,-70.943687
912,Marblehead-Swampscott,4.458022,2.770087,Marblehead,Swampscott,17,42.492438,-70.869187,31,42.479062,-70.920438
98,Beverly-Danvers,4.539867,2.820943,Beverly,Danvers,3,42.564813,-70.881187,5,42.582062,-70.931438
406,Peabody-Lynnfield,4.862034,3.021128,Peabody,Lynnfield,25,42.544562,-70.974187,15,42.539063,-71.033062
523,Lawrence-Methuen,5.135189,3.190859,Lawrence,Methuen,13,42.691187,-71.145062,19,42.733063,-71.171563
119,Peabody-Danvers,5.444708,3.383185,Peabody,Danvers,25,42.544562,-70.974187,5,42.582062,-70.931438
533,North Andover-Methuen,5.766254,3.582984,North Andover,Methuen,24,42.700563,-71.116563,19,42.733063,-71.171563
673,Andover-North Andover,5.776003,3.589042,Andover,North Andover,2,42.657187,-71.155438,24,42.700563,-71.116563
932,Danvers-Topsfield,5.982336,3.717251,Danvers,Topsfield,5,42.582062,-70.931438,32,42.624813,-70.975813
187,Salisbury-Georgetown,6.139484,3.814898,Salisbury,Georgetown,29,42.744187,-70.916438,7,42.724063,-70.986438
640,Amesbury-Newburyport,6.227004,3.869281,Amesbury,Newburyport,1,42.851062,-70.942437,23,42.813187,-70.886188
460,Lynn-Marblehead,6.355232,3.948958,Lynn,Marblehead,14,42.476687,-70.943687,17,42.492438,-70.869187
318,Hamilton-Ipswich,6.662810,4.140078,Hamilton,Ipswich,33,42.628687,-70.847813,12,42.688563,-70.850938
729,Salem-Peabody,6.665310,4.141632,Salem,Peabody,28,42.506312,-70.911563,25,42.544562,-70.974187
877,Lynn-Saugus,6.696100,4.160764,Lynn,Saugus,14,42.476687,-70.943687,30,42.460813,-71.022437
176,Merrimac-Georgetown,6.901322,4.288283,Merrimac,Georgetown,18,42.782938,-71.013188,7,42.724063,-70.986438
1047,Rockport-Gloucester,6.947783,4.317152,Rockport,Gloucester,26,42.652187,-70.609562,8,42.613438,-70.676187
58,Salem-Beverly,6.964883,4.327778,Salem,Beverly,28,42.506312,-70.911563,3,42.564813,-70.881187
962,Beverly-Hamilton,7.609718,4.728459,Beverly,Hamilton,3,42.564813,-70.881187,33,42.628687,-70.847813
200,Haverhill-Groveland,7.665212,4.762942,Haverhill,Groveland,11,42.787188,-71.106938,9,42.782938,-71.013188
55,Peabody-Beverly,7.943461,4.935838,Peabody,Beverly,25,42.544562,-70.974187,3,42.564813,-70.881187
717,Lynn-Peabody,7.950637,4.940297,Lynn,Peabody,14,42.476687,-70.943687,25,42.544562,-70.974187
522,Haverhill-Methuen,8.003573,4.973190,Haverhill,Methuen,11,42.787188,-71.106938,19,42.733063,-71.171563
628,Newburyport-Newbury,8.059885,5.008180,Newburyport,Newbury,23,42.813187,-70.886188,22,42.744187,-70.916438
47,Marblehead-Beverly,8.107585,5.037820,Marblehead,Beverly,17,42.492438,-70.869187,3,42.564813,-70.881187
134,Gloucester-Manchester,8.151250,5.064952,Gloucester,Manchester,8,42.613438,-70.676187,6,42.582062,-70.766188
307,Newbury-Ipswich,8.178663,5.081986,Newbury,Ipswich,22,42.744187,-70.916438,12,42.688563,-70.850938
136,Hamilton-Manchester,8.456186,5.254430,Hamilton,Manchester,10,42.628687,-70.847813,6,42.582062,-70.766188
598,Peabody-Swampscott,8.512063,5.289151,Peabody,Swampscott,25,42.544562,-70.974187,21,42.479062,-70.920438
17,Methuen-Andover,8.539324,5.306090,Methuen,Andover,19,42.733063,-71.171563,2,42.657187,-71.155438
804,Danvers-Salem,8.578947,5.330710,Danvers,Salem,5,42.582062,-70.931438,28,42.506312,-70.911563
964,Danvers-Hamilton,8.586086,5.335146,Danvers,Hamilton,5,42.582062,-70.931438,33,42.628687,-70.847813
924,Saugus-Swampscott,8.608625,5.349151,Saugus,Swampscott,30,42.460813,-71.022437,31,42.479062,-70.920438
878,Lynnfield-Saugus,8.744495,5.433577,Lynnfield,Saugus,15,42.539063,-71.033062,30,42.460813,-71.022437
566,Peabody-Middleton,8.924497,5.545425,Peabody,Middleton,25,42.544562,-70.974187,20,42.624813,-70.975813
616,Groveland-Newbury,8.997121,5.590552,Groveland,Newbury,9,42.782938,-71.013188,22,42.744187,-70.916438
992,Amesbury-Groveland,9.522770,5.917175,Amesbury,Groveland,1,42.851062,-70.942437,34,42.782938,-71.013188
109,Lynnfield-Danvers,9.598772,5.964400,Lynnfield,Danvers,15,42.539063,-71.033062,5,42.582062,-70.931438
418,Beverly-Manchester,9.610054,5.971411,Beverly,Manchester,3,42.564813,-70.881187,16,42.582062,-70.766188
682,Haverhill-North Andover,9.664275,6.005102,Haverhill,North Andover,11,42.787188,-71.106938,24,42.700563,-71.116563
578,Beverly-Swampscott,10.063051,6.252890,Beverly,Swampscott,3,42.564813,-70.881187,21,42.479062,-70.920438
396,Lynn-Lynnfield,10.088579,6.268753,Lynn,Lynnfield,14,42.476687,-70.943687,15,42.539063,-71.033062
887,Peabody-Saugus,10.117680,6.286835,Peabody,Saugus,25,42.544562,-70.974187,30,42.460813,-71.022437
546,Beverly-Middleton,10.222966,6.352256,Beverly,Middleton,3,42.564813,-70.881187,20,42.624813,-70.975813
720,Marblehead-Peabody,10.375332,6.446932,Marblehead,Peabody,17,42.492438,-70.869187,25,42.544562,-70.974187

In [38]:
df.tail(5)

,school_to_school,distance,distance_mi,towns_1,towns_2,loc1,lat1,lon1,loc2,lat2,lon2
279,Rockport-Haverhill,43.316282,26.915490,Rockport,Haverhill,26,42.652187,-70.609562,11,42.787188,-71.106938
1083,Saugus-Amesbury,43.884086,27.268307,Saugus,Amesbury,30,42.460813,-71.022437,1,42.851062,-70.942437
748,Lawrence-Rockport,43.994531,27.336934,Lawrence,Rockport,13,42.691187,-71.145062,26,42.652187,-70.609562
737,Andover-Rockport,44.644243,27.740646,Andover,Rockport,2,42.657187,-71.155438,26,42.652187,-70.609562
535,Rockport-Methuen,46.803489,29.082340,Rockport,Methuen,26,42.652187,-70.609562,19,42.733063,-71.171563

In [39]:
df.to_csv('output_school_to_school.csv', index = False)

What if we only looked at schools close together? Say 5 miles

In [40]:
df[df.distance_mi < 5].shape

(28, 11)

In [41]:
df[df.distance_mi < 5]

,school_to_school,distance,distance_mi,towns_1,towns_2,loc1,lat1,lon1,loc2,lat2,lon2
380,Swampscott-Lynn,1.924864,1.196055,Swampscott,Lynn,31,42.479062,-70.920438,14,42.476687,-70.943687
684,Lawrence-North Andover,2.551754,1.585587,Lawrence,North Andover,13,42.691187,-71.145062,24,42.700563,-71.116563
601,Salem-Swampscott,3.116212,1.936325,Salem,Swampscott,28,42.506312,-70.911563,21,42.479062,-70.920438
816,Marblehead-Salem,3.801214,2.361965,Marblehead,Salem,17,42.492438,-70.869187,28,42.506312,-70.911563
321,Andover-Lawrence,3.874623,2.407579,Andover,Lawrence,2,42.657187,-71.155438,13,42.691187,-71.145062
377,Salem-Lynn,4.217703,2.620759,Salem,Lynn,28,42.506312,-70.911563,14,42.476687,-70.943687
912,Marblehead-Swampscott,4.458022,2.770087,Marblehead,Swampscott,17,42.492438,-70.869187,31,42.479062,-70.920438
98,Beverly-Danvers,4.539867,2.820943,Beverly,Danvers,3,42.564813,-70.881187,5,42.582062,-70.931438
406,Peabody-Lynnfield,4.862034,3.021128,Peabody,Lynnfield,25,42.544562,-70.974187,15,42.539063,-71.033062
523,Lawrence-Methuen,5.135189,3.190859,Lawrence,Methuen,13,42.691187,-71.145062,19,42.733063,-71.171563
119,Peabody-Danvers,5.444708,3.383185,Peabody,Danvers,25,42.544562,-70.974187,5,42.582062,-70.931438
533,North Andover-Methuen,5.766254,3.582984,North Andover,Methuen,24,42.700563,-71.116563,19,42.733063,-71.171563
673,Andover-North Andover,5.776003,3.589042,Andover,North Andover,2,42.657187,-71.155438,24,42.700563,-71.116563
932,Danvers-Topsfield,5.982336,3.717251,Danvers,Topsfield,5,42.582062,-70.931438,32,42.624813,-70.975813
187,Salisbury-Georgetown,6.139484,3.814898,Salisbury,Georgetown,29,42.744187,-70.916438,7,42.724063,-70.986438
640,Amesbury-Newburyport,6.227004,3.869281,Amesbury,Newburyport,1,42.851062,-70.942437,23,42.813187,-70.886188
460,Lynn-Marblehead,6.355232,3.948958,Lynn,Marblehead,14,42.476687,-70.943687,17,42.492438,-70.869187
318,Hamilton-Ipswich,6.662810,4.140078,Hamilton,Ipswich,33,42.628687,-70.847813,12,42.688563,-70.850938
729,Salem-Peabody,6.665310,4.141632,Salem,Peabody,28,42.506312,-70.911563,25,42.544562,-70.974187
877,Lynn-Saugus,6.696100,4.160764,Lynn,Saugus,14,42.476687,-70.943687,30,42.460813,-71.022437
176,Merrimac-Georgetown,6.901322,4.288283,Merrimac,Georgetown,18,42.782938,-71.013188,7,42.724063,-70.986438
1047,Rockport-Gloucester,6.947783,4.317152,Rockport,Gloucester,26,42.652187,-70.609562,8,42.613438,-70.676187
58,Salem-Beverly,6.964883,4.327778,Salem,Beverly,28,42.506312,-70.911563,3,42.564813,-70.881187
962,Beverly-Hamilton,7.609718,4.728459,Beverly,Hamilton,3,42.564813,-70.881187,33,42.628687,-70.847813
200,Haverhill-Groveland,7.665212,4.762942,Haverhill,Groveland,11,42.787188,-71.106938,9,42.782938,-71.013188
55,Peabody-Beverly,7.943461,4.935838,Peabody,Beverly,25,42.544562,-70.974187,3,42.564813,-70.881187
717,Lynn-Peabody,7.950637,4.940297,Lynn,Peabody,14,42.476687,-70.943687,25,42.544562,-70.974187
522,Haverhill-Methuen,8.003573,4.973190,Haverhill,Methuen,11,42.787188,-71.106938,19,42.733063,-71.171563

3 miles?

In [42]:
df[df.distance_mi < 3].shape

(8, 11)

In [43]:
df[df.distance_mi < 3]

,school_to_school,distance,distance_mi,towns_1,towns_2,loc1,lat1,lon1,loc2,lat2,lon2
380,Swampscott-Lynn,1.924864,1.196055,Swampscott,Lynn,31,42.479062,-70.920438,14,42.476687,-70.943687
684,Lawrence-North Andover,2.551754,1.585587,Lawrence,North Andover,13,42.691187,-71.145062,24,42.700563,-71.116563
601,Salem-Swampscott,3.116212,1.936325,Salem,Swampscott,28,42.506312,-70.911563,21,42.479062,-70.920438
816,Marblehead-Salem,3.801214,2.361965,Marblehead,Salem,17,42.492438,-70.869187,28,42.506312,-70.911563
321,Andover-Lawrence,3.874623,2.407579,Andover,Lawrence,2,42.657187,-71.155438,13,42.691187,-71.145062
377,Salem-Lynn,4.217703,2.620759,Salem,Lynn,28,42.506312,-70.911563,14,42.476687,-70.943687
912,Marblehead-Swampscott,4.458022,2.770087,Marblehead,Swampscott,17,42.492438,-70.869187,31,42.479062,-70.920438
98,Beverly-Danvers,4.539867,2.820943,Beverly,Danvers,3,42.564813,-70.881187,5,42.582062,-70.931438

the shortest 10?

In [44]:
df.head(10)

,school_to_school,distance,distance_mi,towns_1,towns_2,loc1,lat1,lon1,loc2,lat2,lon2
380,Swampscott-Lynn,1.924864,1.196055,Swampscott,Lynn,31,42.479062,-70.920438,14,42.476687,-70.943687
684,Lawrence-North Andover,2.551754,1.585587,Lawrence,North Andover,13,42.691187,-71.145062,24,42.700563,-71.116563
601,Salem-Swampscott,3.116212,1.936325,Salem,Swampscott,28,42.506312,-70.911563,21,42.479062,-70.920438
816,Marblehead-Salem,3.801214,2.361965,Marblehead,Salem,17,42.492438,-70.869187,28,42.506312,-70.911563
321,Andover-Lawrence,3.874623,2.407579,Andover,Lawrence,2,42.657187,-71.155438,13,42.691187,-71.145062
377,Salem-Lynn,4.217703,2.620759,Salem,Lynn,28,42.506312,-70.911563,14,42.476687,-70.943687
912,Marblehead-Swampscott,4.458022,2.770087,Marblehead,Swampscott,17,42.492438,-70.869187,31,42.479062,-70.920438
98,Beverly-Danvers,4.539867,2.820943,Beverly,Danvers,3,42.564813,-70.881187,5,42.582062,-70.931438
406,Peabody-Lynnfield,4.862034,3.021128,Peabody,Lynnfield,25,42.544562,-70.974187,15,42.539063,-71.033062
523,Lawrence-Methuen,5.135189,3.190859,Lawrence,Methuen,13,42.691187,-71.145062,19,42.733063,-71.171563

In [45]:
df.head(12)

,school_to_school,distance,distance_mi,towns_1,towns_2,loc1,lat1,lon1,loc2,lat2,lon2
380,Swampscott-Lynn,1.924864,1.196055,Swampscott,Lynn,31,42.479062,-70.920438,14,42.476687,-70.943687
684,Lawrence-North Andover,2.551754,1.585587,Lawrence,North Andover,13,42.691187,-71.145062,24,42.700563,-71.116563
601,Salem-Swampscott,3.116212,1.936325,Salem,Swampscott,28,42.506312,-70.911563,21,42.479062,-70.920438
816,Marblehead-Salem,3.801214,2.361965,Marblehead,Salem,17,42.492438,-70.869187,28,42.506312,-70.911563
321,Andover-Lawrence,3.874623,2.407579,Andover,Lawrence,2,42.657187,-71.155438,13,42.691187,-71.145062
377,Salem-Lynn,4.217703,2.620759,Salem,Lynn,28,42.506312,-70.911563,14,42.476687,-70.943687
912,Marblehead-Swampscott,4.458022,2.770087,Marblehead,Swampscott,17,42.492438,-70.869187,31,42.479062,-70.920438
98,Beverly-Danvers,4.539867,2.820943,Beverly,Danvers,3,42.564813,-70.881187,5,42.582062,-70.931438
406,Peabody-Lynnfield,4.862034,3.021128,Peabody,Lynnfield,25,42.544562,-70.974187,15,42.539063,-71.033062
523,Lawrence-Methuen,5.135189,3.190859,Lawrence,Methuen,13,42.691187,-71.145062,19,42.733063,-71.171563
119,Peabody-Danvers,5.444708,3.383185,Peabody,Danvers,25,42.544562,-70.974187,5,42.582062,-70.931438
533,North Andover-Methuen,5.766254,3.582984,North Andover,Methuen,24,42.700563,-71.116563,19,42.733063,-71.171563

In [46]:
df.head(20)

,school_to_school,distance,distance_mi,towns_1,towns_2,loc1,lat1,lon1,loc2,lat2,lon2
380,Swampscott-Lynn,1.924864,1.196055,Swampscott,Lynn,31,42.479062,-70.920438,14,42.476687,-70.943687
684,Lawrence-North Andover,2.551754,1.585587,Lawrence,North Andover,13,42.691187,-71.145062,24,42.700563,-71.116563
601,Salem-Swampscott,3.116212,1.936325,Salem,Swampscott,28,42.506312,-70.911563,21,42.479062,-70.920438
816,Marblehead-Salem,3.801214,2.361965,Marblehead,Salem,17,42.492438,-70.869187,28,42.506312,-70.911563
321,Andover-Lawrence,3.874623,2.407579,Andover,Lawrence,2,42.657187,-71.155438,13,42.691187,-71.145062
377,Salem-Lynn,4.217703,2.620759,Salem,Lynn,28,42.506312,-70.911563,14,42.476687,-70.943687
912,Marblehead-Swampscott,4.458022,2.770087,Marblehead,Swampscott,17,42.492438,-70.869187,31,42.479062,-70.920438
98,Beverly-Danvers,4.539867,2.820943,Beverly,Danvers,3,42.564813,-70.881187,5,42.582062,-70.931438
406,Peabody-Lynnfield,4.862034,3.021128,Peabody,Lynnfield,25,42.544562,-70.974187,15,42.539063,-71.033062
523,Lawrence-Methuen,5.135189,3.190859,Lawrence,Methuen,13,42.691187,-71.145062,19,42.733063,-71.171563
119,Peabody-Danvers,5.444708,3.383185,Peabody,Danvers,25,42.544562,-70.974187,5,42.582062,-70.931438
533,North Andover-Methuen,5.766254,3.582984,North Andover,Methuen,24,42.700563,-71.116563,19,42.733063,-71.171563
673,Andover-North Andover,5.776003,3.589042,Andover,North Andover,2,42.657187,-71.155438,24,42.700563,-71.116563
932,Danvers-Topsfield,5.982336,3.717251,Danvers,Topsfield,5,42.582062,-70.931438,32,42.624813,-70.975813
187,Salisbury-Georgetown,6.139484,3.814898,Salisbury,Georgetown,29,42.744187,-70.916438,7,42.724063,-70.986438
640,Amesbury-Newburyport,6.227004,3.869281,Amesbury,Newburyport,1,42.851062,-70.942437,23,42.813187,-70.886188
460,Lynn-Marblehead,6.355232,3.948958,Lynn,Marblehead,14,42.476687,-70.943687,17,42.492438,-70.869187
318,Hamilton-Ipswich,6.662810,4.140078,Hamilton,Ipswich,33,42.628687,-70.847813,12,42.688563,-70.850938
729,Salem-Peabody,6.665310,4.141632,Salem,Peabody,28,42.506312,-70.911563,25,42.544562,-70.974187
877,Lynn-Saugus,6.696100,4.160764,Lynn,Saugus,14,42.476687,-70.943687,30,42.460813,-71.022437